# Dependencias
node_modules/

# Archivos compilados (JavaScript generado por TS)
# Estos se generan al ejecutar el build, no deben estar en el repo
main.js


# Archivos de sistema y herramientas de construcción
build.bat
.DS_Store
Thumbs.db

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpeta de distribución (si usas alguna carpeta de salida como dist)
dist/